@import "tailwindcss";

@theme {
  --color-primary-50: #e9fbff;
  --color-primary-100: #cef5ff;
  --color-primary-200: #a7efff;
  --color-primary-300: #6beaff;
  --color-primary-400: #26d8ff;
  --color-primary-500: #00b4ff;
  --color-primary-600: #008aff;
  --color-primary-700: #006fff;
  --color-primary-800: #005fe6;
  --color-primary-900: #0055b3;
  --color-primary-950: #003770;

  --color-secondary-50: #fff0f1;
  --color-secondary-100: #ffdee0;
  --color-secondary-200: #ffc3c7;
  --color-secondary-300: #ff999f;
  --color-secondary-400: #ff5e67;
  --color-secondary-500: #ff2b37;
  --color-secondary-600: #f60c1a;
  --color-secondary-700: #e30613;
  --color-secondary-800: #ab0913;
  --color-secondary-900: #8d0f16;
  --color-secondary-950: #4d0206;
}